@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');
:root {
    --color_ContenedorMaestro_Transparente_white: rgba(255, 255, 255, .5);
    --color_fondo_title: rgb(60, 65, 168);
    --color_letra_title_white: rgb(255, 255, 255);
    --color_abbr_hover: rgb(255, 187, 0);
    --color_link_blue: rgb(8, 31, 134);
    --color_link_hover_blue: rgb(8, 31, 134);
    --color_link_hover_white: rgb(255, 255, 255);
    --color_portada_hover_blue: rgb(52, 95, 132);
    --color_sombrasContenedores_black: rgb(0, 0, 0);
    --color_descripción_img_gray: rgb(102, 100, 100);
    --color_boton-subir_dark-greens: rgb(5, 92, 102);
    --color_footer_contenedor_dark-greens: rgb(7, 139, 153, .8);
}
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- fondo de página ---- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fondo__video {
    position: absolute;
    z-index: -1;
    max-height: 120%;
    top: -170px;
    right: 0px;
}

/* perfil */
.barra_perfil {
    /* border: 1px solid rgb(29, 219, 4); */
    margin: 10px 0 0 0;
    padding: 0px;
    width: 98%;
    height: auto;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.contenedor_mi_perfil {
    /* border: 1px solid blue; */
    /* background-color: white; */
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mi_perfil {
    border: none;
    margin: 0;
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 10px white
}
.text_mi_perfil {
    border: none;
    width: 100%;
    height: 100%;
    margin: 5px 0 0 0;
    padding: 2px;

    color: var(--color_descripción_img_gray);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

.title1 {
    /* border: 1px solid black; */
    width: calc(100% - 180px);
    margin: 0;
    padding: 2px 3px;
    color: var(--color_letra_title_white);
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
}
.url_Todointerconectado {
    color: var(--color_letra_title_white);
}
.url_Todointerconectado:hover {
    color: var(--color_letra_title_white);
}

/* Contenedor maestro */
main {
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    background-color: var(--color_ContenedorMaestro_Transparente_white);
    width: 98%;
    max-width: 1200px;
    height: auto;
    margin-top: 250px;
    padding: 2px;
    border-radius: 8px;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenedor_title {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(196, 8, 8), var(--color_fondo_title), rgb(9, 158, 9), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    margin-bottom: 20px;
}
.title {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 8px;
    color: var(--color_letra_title_white);
    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

span {
    /* border: 1px solid; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenideor_abbr{
    /* border: 1px solid; */
    width: 45px;
    /* height: auto; */
    /* padding: 5px 0; */
    text-align: center;
    display: flex;
    justify-content: center;
}
abbr {
    /* border: 1px solid; */
    height: 25px;
    width: auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 1s;
}
abbr:hover {
    color: var(--color_abbr_hover);
    font-size: 18px;
}
/* navegación */
.navegacion {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    font-size: 16px;
}
.url {
    /* border: 1px solid black; */
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    color: var(--color_link_blue);
    overflow: hidden;
}
.url:hover {
    background-color: var(--color_link_hover_blue);
    color: var(--color_link_hover_white);
}

/*---------------------------------- footer ----------------------------------*/
footer {
    background-color: var(--color_footer_contenedor_dark-greens);
    width: 100%;
    height: auto;
    margin-top: 123px;
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- Boton de subida ----*/
.flecha2{
    border: 5px solid var(--color_boton-subir_dark-greens);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 1s;
    cursor: pointer;
}
.flecha2:hover {
    transform: scale(1.2);
}
.simbolo {
    border: 5px solid var(--color_boton-subir_dark-greens);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(-90deg);
    background-color: var(--color_link_hover_white);
    color: var(--color_boton-subir_dark-greens);
}
.flecha2:hover .simbolo {
    background-color: var(--color_boton-subir_dark-greens);
    color: var(--color_link_hover_white);
}

.texto_footer {
    /* border: 1px solid black; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}