:root {
    --color_ContenedorMaestro_Transparente_white: rgba(255, 255, 255, .5);
    --color_link_blue: rgb(8, 31, 134);
    --color_link_hover_blue: rgb(8, 31, 134);
    --color_link_hover_white: rgb(255, 255, 255);
    --color_portada_hover_blue: rgb(52, 95, 132);
    --color_sombrasContenedores_black: rgb(0, 0, 0);
    --color_descripción_img_gray: rgb(102, 100, 100);
}
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- fondo de página ---- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fondo__video {
    width: 200%;
    position: fixed;
    top: 0px;
    right: -20px;
    z-index: -1;
}
.title1 {
    border: 1px solid black;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Contenedor maestro */
main {
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    background-color: var(--color_ContenedorMaestro_Transparente_white);
    margin-top: 300px;
    height: auto;
    width: 95%;
    max-width: 700px;
    padding: 20px 10px;
    border-radius: 8px;
    overflow: hidden;
    flex-wrap: wrap;
}
.title {
    /* border: 1px solid black; */
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/* navegación */
.navegacion {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    font-size: 16px;
}
.url {
    /* border: 1px solid black; */
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    color: var(--color_link_blue);
    overflow: hidden;
}
.url:hover {
    background-color: var(--color_link_hover_blue);
    color: var(--color_link_hover_white);
}

/* Contenido Principal */
section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
article {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
}
article:hover {
    background-color: var(--color_portada_hover_blue);
}
article:hover figcaption{
    color: var(--color_link_hover_white);
}
figure {
    /* border: 1px solid black; */
    width: 90%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada {
    width: 90%;
}
figcaption {
    /* padding: 10px; */
    margin-top: 10px;
    color: var(--color_descripción_img_gray);
    text-align: center;
}

/* ---- Boton de subida ----*/
.flecha{
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 73px;
    transition: transform 1s;
}
.flecha:hover {
    transform: scale(1.2);
}
.flecha img {
    width: 100%;
}

/* footer */

footer {
    background-color: rgb(7, 139, 153, .8);
    width: 100%;
    height: 100px;
    bottom: 0;
    position: relative;
    /* centrar contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto_footer {
    /* border: 1px solid black; */
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
}