@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Caveat:wght@400;700&family=Fredoka+One&family=Gentium+Book+Basic:ital@1&family=Montserrat:wght@400;500;700&family=Playfair+Display:ital,wght@1,500&family=Rubik+Maze&family=Signika+Negative&family=Source+Sans+Pro:wght@400;700;900&display=swap');
:root {
    --color-theme: rgb(255, 255, 255);
    --color-primary: rgb(18, 79, 136);
    --color-primary-sure: linear-gradient(rgb(29, 129, 211),rgb(18, 79, 136),rgb(29, 129, 211),rgb(18, 79, 136),rgb(29, 129, 211));
    --color-shades: rgb(18, 79, 136, 0.3);

    --color-card-experience: rgb(33, 139, 245);

    --color-secondary: rgb(247, 195, 49);
    --color-text-inverse: rgb(255, 255, 255);
    --color-text: rgb(0, 0, 0);
    --color-box-shadow: rgb(0, 0, 0, .8);
    --color-header-shallow: rgb(229, 229, 229);
    --color-menu-mobil-background: rgb(58, 68, 96);
}

/* Al scroll le restamos la altura del navegador */
section[id] {
    scroll-margin-top: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    width: 100%;
    height: 100%;
    /* Suavizamos el scroll */
    scroll-behavior: smooth;
}

body {
    /* border: 1px solid red; */
    background-color: var(--color-theme);
    color: var(--color-text);
    width: 100%;
    height: 100%;
}

/* -------------- HEADER: Bar de navigation -------------- */
.header {
    box-shadow: 0 0 4px 5px var(--color-header-shallow);
    background-color: var(--color-theme);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor_navegacion {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* ----- logo ----- */
.logo {
    /* border: 1px solid rgb(123, 255, 0); */
    width: auto;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
} 
.logo figure {
    /* border: 1px solid violet; */
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
}
.logo figure img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.logo figure figcaption {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'Caveat', cursive; */
}

/* ----- Menu ----- */
.menu {
    padding: 5px 10px;
    margin: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}
.menu li {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Despues los sub-menu se posicionan en relación a su padre. */
    position: relative;
}

.menu li a {
    text-decoration: none;
    text-align: center;
    width: auto;
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 300ms ease,
                font-weight 300ms ease;
}
.menu li a:hover {
    color: var(--color-primary);
    font-weight: bold;
}

.close-menu, .open-menu {
    display: none;
}

/* Pseudo selector's (after y before) */
.menu li a::after {
    content: "";
    background-color: var(--color-secondary);
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 100px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity 300ms ease, transform 400ms ease;
}
.menu li a:hover:after {
    transform: scaleX(1);
}
.menu li a.selected:after {
    transform: scaleX(1);
}

.menu li a.selected::after, 
.menu li a:hover::after {
    opacity: 0.8;
}

/*------- Sub-Menu --------*/
.sub-menu {
    padding: 10px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    width: 200px;
    height: auto;
    background: var(--color-theme);
    z-index: 100;
    /* Lo posicionamos en relación del padre */
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 90px;
    left: -5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 300ms ease, top 300ms ease;
}
.menu > .conteiner_sub-menu:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 62px;
}
.sub-menu > li {
    width: 100%;
    height: auto;
}
.sub-menu > li > a {
    padding: 0px 6px;
    width: 100%;
    height: auto;
    color: var(--color-text);
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    transition: font-weight 300ms ease 0ms;
}
.sub-menu > li > a:hover {
    font-weight: bold;
}
/*---- Sub-Menu applicator seudo class ----*/
.sub-menu:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid var(--color-theme);
    transform: rotate(45deg);
    border-radius: 0px 0px 100% 0px;
    box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, .5);
    position: absolute;
    top: -10px;
    left: 40px;
}



@media screen and (max-width: 850px) {
    /* -------------- HEADER: Bar de navigation -------------- */

    /* ----- Menu ----- */
    .menu {
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-menu-mobil-background);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    }

    .menu li {
    /* border: 1px solid red; */
    height: auto;
    line-height: 60px;
    }

    .menu li a {
    color: var(--color-text-inverse);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    .close-menu {
        align-self: flex-end;
        padding: 21px 10px;
    }

    /* ----- Class to control since JavaScript ----- */
    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    /* Pseudo selector's (after y before) */
    .menu li a::after {
    content: none;
    }

    .menu li a:hover,
    .menu li a.selected {
    color: var(--color-secondary);
    }

    /*------- Sub-Menu --------*/
    .sub-menu {
        width: 300px;
        height: auto;
    }
    .menu .sub-menu > li {
        line-height: 30px;
    } 
    .sub-menu > li > a {
        color: var(--color-text);
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    /*---- Sub-Menu applicator seudo class ----*/
    .sub-menu:before {
        top: -10px;
        left: 90px;
    }
}