html {
    font-size: 62.5%;
}

/* ----------- wave water ----------- */
.slider2 {
    width: 100%;
    height: 72.5px;
    margin: 0 auto;
    overflow: hidden;
}
.slide-track2 {
    display: flex;
    width: calc(100% * 1);
    -webkit-animation: scroll 9000ms linear infinite;
    animation: scroll 9000ms linear infinite;
}
.slide2 {
    width: 100%;
}
.img-wave{
    width: calc(633px * 9);
    height: 72.5px;
    display: block;
    background-image: url(/CSS/img/wave_1.png);
    background-repeat: repeat-x;
    background-size: contain;
}

@keyframes scroll {
    0% {
        -webkit-transform:  translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform:  translateX(calc(-1900px * 1));
        transform: translateX(calc(-1900px * 1));
    }
}

.wave-bottom {
    transform: rotate(180deg);
    background: var(--color-theme);
}

/* ----------- section experience ----------- */

.experiences {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.sit {
    padding: 10px;
    background: var(--color-primary-sure);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experiences_title {
    color: var(--color-text-inverse);
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
}

.container-experiences {
    border-radius: 8px;
    width: 100%;
    max-width: 1600px;
    color: var(--color-text-inverse);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}
.experiences_grid {
    border-radius: 8px;
    box-shadow: 3px 3px 10px var(--color-text);
    padding: 10px;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experiences_grid div {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.two-experiences_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experiences-time {
    width: auto;
    font-size: 3em;
    font-weight: bold;
    color: red;
}

.experiences-company {
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.experiences-company:hover {
    text-decoration: underline;
    /* -webkit-text-stroke: .5px gold; */
}

.experiences-description {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    color: var(--color-text-inverse);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
}

/* imagen de html | css | github */
.container-img {
    width: 100%;
    height: auto;
}
.container-img img {
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}

@media screen and (min-width: 700px) {
    html {
        font-size: 75%;
    }

    .container-experiences {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .experiences_grid {
        margin: 0 5px;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    .two-experiences_grid1 {
        padding-bottom: 200px;
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }

    .two-experiences_grid2 {
        padding-top: 200px;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .experiences_left {
        text-align: right;
    }
}

@media screen and (min-width: 1300px) {
    .experiences_grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    
    .experiences_grid div {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .experiences-description {
        grid-column: 1 / 2;
        background: var(--color-menu-mobil-background);
        display: flex;
        align-items: center;
    }
}