html {
    scroll-behavior: smooth;
}

/*---------------------------------- footer ----------------------------------*/
.footer {
    margin: 0 auto;
    border-radius: 14px 14px 0 0;
    background: var(--color-primary-sure);
    color: var(--color-text-inverse);
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-title {
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------- formulation ---------------- */
.contact-form {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 800px;
    border-radius: 14px;
    background: var(--color-text-inverse);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.contact-form-logo {
    margin: 0 auto;
}

.contact-form-title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    letter-spacing: 1px;
}

.contact-form-group-completar {
    border: 1px solid gray;
    border-radius: 7px;
    background-color: transparent;
    margin: 5px 0 0 0;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.contact-form-group-completar::placeholder {
    color: rgb(168, 166, 166);
    font-weight: 300;
}

.contact-form-group-textarea {
    resize: vertical;
}

.contact-form-submit {
    width: 100%;
    height: 50px;
    background: rgb(10, 160, 100);
    border-radius: 7px;
    color: var(--color-text-inverse);
    border: 1px solid var(--color-theme);
    transition: background 300ms ease;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact-form-submit:hover {
    background: rgb(39, 180, 116);
}

/* ---- CORREO ---- */

.contact-container-gmail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-text-gmail {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-text-gmail:hover {
    text-decoration:underline;
}

.contact-gmail {
    width: 20px;
    height: 20px;
}

/*---------------------------------- Redes social's ----------------------------------*/
.conteiner-contacos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    flex-wrap: wrap;
}

.conteiner-contacos_redSocial {
    list-style: none;
    /* border: 1px solid rgb(9, 248, 88); */
    width: auto;
    min-width: 80px;
    height: auto;
    margin: 5px 20px;
}

.conteiner-contacos_figure {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-contacos_figure a {
    margin-bottom: 5px;
    /* border: 1px solid darkgoldenrod; */
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.conteiner-contacos_figure a:hover {
    filter: drop-shadow(0 0 5px var(--color-text-inverse));
}

.conteiner-contacos_figure-img {
    padding: 0;
    width: 30px;
    height: 30px;
    display: block;
}

.conteiner-contacos_figure-figcaption {
    margin-top: 5px;
    color: var(--color-text-inverse);
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ---------- QR ---------- */
.containerQr {
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 24px;
    display: grid;
    place-items: center;
    transition: all 1000ms ease;
}

.containerQr:hover {
    background-image: url("/CSS/img/QR/linkedin.png");
    background-position: center;
    background-size: cover;
    color: transparent;
    width: 150px;
    height: 150px;
}

.qrGithub:hover {
    background-image: url("/CSS/img/QR/github.png");
}
.qrYoutube:hover {
    background-image: url("/CSS/img/QR/youtube.png");
}
.qrInstagram:hover {
    background-image: url("/CSS/img/QR/instagram.png");
}
.qrTiktok:hover {
    background-image: url("/CSS/img/QR/tiktok.png");
}
.qrWhatsapp:hover {
    background-image: url("/CSS/img/QR/whatsapp.png");
}
.qrTwiter:hover {
    background-image: url("/CSS/img/QR/twiter.png");
}

/* ---- Boton de subida ----*/
.flecha{
    margin: 0 auto;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.flecha:hover {
    transform: scale(1.2);
}
.simbolo {
    width: 100%;
    height: 100%;
}

/* -------- Copyright -------- */

.contact-details-group {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.contact-text-from {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-label {
    text-transform: uppercase;
    font-weight: 500;
}


@media screen and (min-width: 800px) {
    footer {
        font-size: 20px;
        padding: 70px;
        max-width: 1400px;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  
            "title      from"
            "details    from"
            "contactos  contactos"
            "flecha     flecha"
        ;
    }
    
    .contact-title {
        font-size: 4rem;
        text-align: left;
        grid-area: title;
    }
    .contact-details {
        grid-area: details;
    }
    .contact-form {
        grid-area: from;
    }
    .nav-contactos {
        grid-area: contactos;
    }
    .flecha {
        grid-area: flecha;
    }
}