:root {
    --color_ContenedorMaestro_Transparente_white: rgba(255, 255, 255, .5);
    --color_fondo_title: rgb(26, 30, 116);
    --color_letra_title_white: rgb(255, 255, 255);
    --color_abbr_hover: rgb(255, 187, 0);
    --color_link_blue: rgb(8, 31, 134);
    --color_link_hover_blue: rgb(8, 31, 134);
    --color_link_hover_white: rgb(255, 255, 255);
    --color_portada_hover_blue: rgb(52, 95, 132);
    --color_sombrasContenedores_black: rgb(0, 0, 0);
    --color_descripción_img_gray: rgb(102, 100, 100);
    --color_boton-subir_dark-greens: rgb(5, 92, 102);
    --color_contenedor_title_comandos: rgb(29, 99, 134);
    --color_contenedor_title_comandos_interno: rgb(50, 111, 161);
    --color_contenedor_dfn: rgba(170, 170, 170, 0.8);
}

/*-------- Boton de comandos Git --------*/
.contenedor_seccion_comando {
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
}
.texto_comando {
    height: 40px;
    padding: 10px;
    background-color: var(--color_letra_title_white);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.link_comando {
    height: 40px;
    display: flex;
    align-items: center;
}
.logo_comando {
    padding: 5px;
    height: 70px;
}
a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Contenedor de los títulos principales de la lista de comandos */
.contenedor_principal {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor_inicio {
    background-color: var(--color_contenedor_dfn);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    width: 550px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
summary {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color_contenedor_title_comandos);
    color: var(--color_letra_title_white);
    width: 100%;
    height: 50px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
dfn {
    /* border: 1px solid; */
    background-color: var(--color_contenedor_dfn_white);
    padding: 5px 1px 5px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-weight: bold;
    font-size: 16px;
    gap: 5px;
}

.details_interno {
    background-color: var(--color_contenedor_dfn);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    margin: 3px;
    flex-grow: 1;
}
.details_interno summary {
    background-color: var(--color_contenedor_title_comandos_interno);
    height: auto;
    padding: 8px 5px;
}

/*--- listas ---*/
ul, ol, dl {
    border: 1px solid;
    width: 99.5%;
    margin: 5px;
    padding: 5px 0 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
li, dt, dd {
    /* list-style: none; */
    background-color: rgba(255, 255, 255, 0.8);
    width: 99.5%;
    border: 1px solid;
    padding: 3px;
    font-weight: bold;
    font-size: 14px;
}

.code_maestro {
    border: 1px solid;
    width: 100%;
    padding: 5px 4px;
    background-color: rgb(143, 202, 183);
    display: inline-block;
    /* flex-direction: column; */
    justify-content: flex-start;
    font-size: 12px;
}
.code_interno {
    padding-left: 30px;
}
.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: var(--color_contenedor_dfn_white);
    color: var(--color_contenedor_title_comandos);
}
.link:active {
    color: var(--color_link_hover_blue);
}
.mapa {
    border: 1px solid;
    border-radius: 8px;
    width: 98%;
    height: 300px;
}
.etiquetas_H {
    text-align: center;
}
p {
    /* border: 1px solid red; */
    width: 99.5%;
    padding: 10px 0;
    text-align: center;
}

/*-------- Tablas --------*/
.tabla_ej {
    border: 1px solid;
    width: 100%;
    margin: 5px;
}
.tabla_ej caption, tr, th, td {
    border: 1px solid;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

/*-------- Formularios --------*/
fieldset {
    border: 1px solid blue;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.formulario_tabla li {
    text-align: left;
}
form {
    /* border: 1px solid; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Formularios_ej {
    width: 80%;
    margin: 0 auto;
}

.contenedor_selector {
    /* border: 1px solid; */
    width: 150px;
    margin: 0 auto;
    text-align: left;
}
.formulario_obligatorio {
    display: inline;
    color: rgb(231, 31, 31);
}
.input_completar {
    width: 80%;
    height: 25px;
    padding: 5px;
}
.formulario_boton {
    width: 150px;
    height: 25px;
    border-radius: 8px;
    font-weight: 800;
    margin: 5px;
}
.formulario_boton:hover {
    color: var(--color_link_hover_blue);
}

/*-------- Etiquetas de código --------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');
.etiquetas_css, .etiquetas_html, .etiquetas_class, .etiquetas_id, .etiquetas_atributo {
    width: auto;
    height: auto;
    margin: 1px 1px 1px 4px;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(123, 183, 240);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: display 2s ease;
}
.etiquetas_html {
    background-color: rgb(255, 183, 0);
}
.etiquetas_class {
    background-color: rgb(233, 146, 233);
}
.etiquetas_id {
    background-color: rgb(154, 140, 250);
}
.etiquetas_atributo {
    background-color: rgb(224, 110, 110);
}
.text_etiqueta_codigo {
    border: none;
    padding: 0 2px;
    display: inline-flex;
    align-items: center;
}
/*--------- Tooltips ---------*/
.fa-solid {
    color: yellow;
    /* position: absolute; */
    /*left: 15px;*/
}
.tooltips-box {
    border-radius: 4px;
    box-shadow: 0 0 10px white;
    background-color: rgb(51, 51, 51);
    color: white;
    z-index: 800;
    padding: 4px 5px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    box-sizing: content-box;
    height: auto;
    top: -30px;
    left: -5px;
}
.tooltips-text {
    /*border: 1px solid;*/
    padding: 0;
    display: inline-flex;
}
/* Triángulo selector */
.tooltips-box::after {
    content: "";
    display: block;
    border-top: 9px solid rgb(51, 51, 51);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    left: calc(50% - 9px);
    bottom: -9px;
}
.tooltips-text:active .tooltips-box {
    display: flex;
}



/*-------- fotos, iconos, img-código, imag --------*/
.contenedor__img {
    /* border: 1px solid; */
    width: 100%;
    margin: 2px;
    transition: all 2s ease;
}
.img__proceso {
    width: 100%;
    border-radius: 8px;
}
.contenedor_de_iconos {
    /* border: 1px solid; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor_de_iconos a {
    border-radius: 50%;
}
.contenedor__icono {
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono {
    border: 3px solid white;
    width: 150px;
    border-radius: 50%;
    transition: width 1s ease, box-shadow 1s ease;
}
.icono:hover {
    width: 160px;
    box-shadow: 0 0 10px black;
}
.foto {
    width: 100%;
    border-radius: 8px;
}
.img__proceso:hover {
    /* position: absolute; */
    /* transform: scale(.95); */
}
figcaption {
    /* border: 1px solid; */
    color: var(--color_descripción_img_gray);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5px;
}