html {
    scroll-behavior: smooth;
}

/*---------------------------------- footer ----------------------------------*/
footer {
    margin: 0 auto;
    /* border: 2px solid red; */
    border-radius: 14px;
    background: var(--color-primary-sure);
    color: var(--color-text-inverse);
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 25px;
    display: grid;
    gap: 20px;
}

/* ---- Boton de subida ----*/
.flecha{
    /* border: 1px solid red; */
    margin: 0 auto;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.flecha:hover {
    transform: scale(1.2);
}
.simbolo {
    width: 100%;
    height: 100%;
}

.contact-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-details {
    /* border: 2px solid green; */
    display: grid;
    gap: 20px;
}
.contact-details-group {
    display: grid;
    gap: 3px;
}
.contact-label {
    text-transform: uppercase;
    font-weight: 500;
}

/* ---------------- formulation ---------------- */
.contact-form {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 14px;
    background: var(--color-text-inverse);
    padding: 10px;
    display: grid;
    gap: 20px;
    text-align: center;
}

.contact-form-logo {
    margin: 0 auto;
}

.contact-form-title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    letter-spacing: 1px;
}

.contact-form-group-completar {
    border: 1px solid gray;
    border-radius: 7px;
    background-color: transparent;
    margin: 5px 0 0 0;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    color: var(--color-text-inverse);
    font-weight: 500;
    font-size: 16px;
}
.contact-form-group-completar::placeholder {
    color: rgb(168, 166, 166);
    font-weight: 300;
}

.contact-form-group-textarea {
    resize: vertical;
}

.contact-form-submit {
    width: 100%;
    height: 50px;
    background-color: rgb(39, 217, 116);
    border-radius: 7px;
    color: var(--color-text-inverse);
    border: 1px solid var(--color-theme);
    transition: transform 50ms ease;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact-form-submit:hover {
    box-shadow: 0 0 5px var(--color-secondary);
}

/*---------------------------------- Redes social's ----------------------------------*/
.conteiner-contacos {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    flex-wrap: wrap;
}

.conteiner-contacos_redSocial {
    list-style: none;
    /* border: 1px solid rgb(9, 248, 88); */
    width: auto;
    min-width: 80px;
    height: auto;
    margin: 5px 20px;
}

.conteiner-contacos_figure {
    /* border: 3px solid violet; */
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-contacos_figure a {
    margin-bottom: 5px;
    /* border: 1px solid darkgoldenrod; */
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.conteiner-contacos_figure a:hover {
    filter: drop-shadow(0 0 5px var(--color-text-inverse));
}

.conteiner-contacos_figure-img {
    padding: 0;
    width: 64px;
    display: block;
}


.conteiner-contacos_figure-figcaption {
    margin-top: 5px;
    color: var(--color-text-inverse);
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}


@media screen and (min-width: 800px) {
    footer {
        font-size: 20px;
        padding: 70px;
        max-width: 1400px;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  
            "title      from"
            "details    from"
            "contactos  contactos"
            "flecha     flecha"
        ;
    }
    
    .contact-title {
        font-size: 35px;
        text-align: left;
        grid-area: title;
    }
    .contact-details {
        grid-area: details;
    }
    .contact-form {
        grid-area: from;
    }
    .nav-contactos {
        grid-area: contactos;
    }
    .flecha {
        grid-area: flecha;
    }
}