* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-weight: bold;
    font-size: 18px;
}

/* Fondo con movimiento */
.fondo__video {
    width: 100%;
    position: fixed;
    min-width: 100%;
    transform: tr translateX(-50%) translateY(-50);
    z-index: -1;
}

/*  */
main {
    width: 80%;
    background-color: rgba(255, 255, 255, .5);
    margin: 10px;
    padding: 0px 0px 20px 0px;
    border: 1px solid rgb(100, 97, 97);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 5px;
}

/* Boton de comandos Git */
.contenedor_seccion_comando {
    background-color: #ffffff;
    text-align: center;
    margin: 10px 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.padre {
    display: table;
}
.contenedor_seccion_comando p, a {
    display: table-cell;
    vertical-align: middle;
}
.contenedor_comando {
    width: 150px;
}
.comandos {
    height: 70px;
    display: block;
    margin: auto;
}

/* navegación */
.navegacion {
    display: flex;
    padding: 20px 50px;
    gap: 15px;
    font-size: 25px;
}
a {
    color: #860808;
}

/* Contenedor de los títulos principales de la lista de comandos */
details {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #feffff;
    box-shadow: 1px 1px 5px rgba(0,0,0,1);
}
summary {
    background-color: #1d6386;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #1e249a;
    border-radius: 5px;
}
p {
    padding: 5px 50px;
}

/* Proceso de los comandos en img */
.contenedor__img {
    width: 95%;
    margin: 10px;
    max-width: 800px;
}
.img__proceso {
    width: 100%;
    border-radius: 10px;
}

/* Tablas */
fieldset {
    margin: 5px 20px;
}

abbr {
    text-decoration: none;
}

figcaption {
    text-align: center;
}

/* Clase 1 */
#cambiar__fondo {
    background-color: aquamarine;
}

#cambiar__fondo .li__color {
    color: #860808;
}

iframe {
    height: 600px;
}
