:root {
    --color_ContenedorMaestro_Transparente_white: rgba(255, 255, 255, .5);
    --color_fondo_title: rgb(26, 30, 116);
    --color_letra_title_white: rgb(255, 255, 255);
    --color_abbr_hover: rgb(255, 187, 0);
    --color_link_blue: rgb(8, 31, 134);
    --color_link_hover_blue: rgb(8, 31, 134);
    --color_link_hover_white: rgb(255, 255, 255);
    --color_portada_hover_blue: rgb(52, 95, 132);
    --color_sombrasContenedores_black: rgb(0, 0, 0);
    --color_descripción_img_gray: rgb(102, 100, 100);
    --color_boton-subir_dark-greens: rgb(5, 92, 102);
    --color_contenedor_title_comandos: rgb(29, 99, 134);
}

/* Boton de comandos Git */
.contenedor_seccion_comando {
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
}
.texto_comando {
    height: 40px;
    padding: 10px;
    background-color: var(--color_letra_title_white);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.link_comando {
    height: 40px;
    display: flex;
    align-items: center;
}
.logo_comando {
    padding: 5px;
    height: 70px;
}

/* Contenedor de los títulos principales de la lista de comandos */
.contenedor_principal {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

details {
    border: 1px solid var(--color_contenedor_title_comandos);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px var(--color_sombrasContenedores_black);
    /* width: 300px; */
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
summary {
    background-color: var(--color_contenedor_title_comandos);
    color: var(--color_letra_title_white);
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
dfn {
    /* margin: 5px; */
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
li {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* img */
.contenedor__img {
    width: 100%;
    margin: 2px;
    transition: all 2s;
}
.img__proceso {
    width: 100%;
    border-radius: 8px;
}
.contenedor__img:hover {
    position: absolute;
    transform: scale(.8);
}
