/*------------ Tres formas de aplicar CSS en el HTML (esta en forma cascada) ------------*/
/*------------ Creamos las hojas de estilos ------------*/



/*------------ Tipos de colores ------------*/
#name {
    background-color: lightblue;
}
#hex {
    background-color: #d36336;
}
#rgb {
    background-color: rgb(12, 127, 57);
}
#rgba {
    background-color: rgba(12, 127, 57, 0.3);
}
#hsl {
    background-color: hsl(16, 100%, 50%);
}
#hsla {
    background-color: hsla(16, 100%, 50%, 0.3);
}

/*------------ Parte de un blog ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap');

/* border del contenedor */
.border {
    margin: 10px auto;
    border: 5px dashed gray;
    padding: 10px;
    width: 95%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo {
    font-family: 'Gentium Book Basic', serif;
    letter-spacing: 1px;
    font-size: 150%;
    text-align: center;
    color: #e09f54;
    text-shadow: 0px 0px 3px black;
}
.border article {
    background-color: rgb(167, 163, 163);
    width: 100%;
    padding: 3px;
    border: none;
}
.parrafo {
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: 'Playfair Display', ;
    text-align: justify;
    font-size: 14px;
}
/* Seudo elementos */
p#inicio::first-letter {
    color: #c69c6d;
    font-size: 40px;
    float: left;
    background-color: brown;
    padding: 0px 7px 0px 7px;
    margin: 4px 10px 0px 0px;
}
/* link */
.border a {
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 800;
}
/* cambia el color al tener el mous encima */
a:hover {
    color: blue;
}
/* subrayar_palabra */
.underline {
    text-decoration: underline;
    font-weight: bold;
    display: inline;
}
/* palabra en italica */
.italic {
    font-style: italic;
    font-weight: bold;
    display: inline;
}
pre {
    position: relative;
    left: -170px;
}

/*------------ Tipos de tamaños: Unidades de medida ------------*/
.medidas .contenedor {
    /* definir tamaño de letras para lo interno al contenedor */
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixeles {
    /* 16px es el valor por defecto */
    font-size: 16px; 
    background-color: gray;
    width: 400px;
}
.porcentaje {
    /* 100% del valor contenedor 16px */
    font-size: 150%; 
    background-color: gray;
    width: 50%;
}
.em {
    /* 1em = valor del contenedor */
    font-size: 1.5em; 
    background-color: gray;
    width: 5em;
}
.rem {
    /* 1rem = valor del root (valor por defecto que son 16px) */
    font-size: 0.8rem; 
    background-color: gray;
    width: 5rem;
}

/*------------ Modelo de caja ------------*/
.link {
    border: 3px solid black;
    background-color: aquamarine;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.link:hover {
    color: blue;
}
.contenedor__img {
    border: 1px solid;
    width: 100%;
}
img {
    max-width: 80%;
    margin: 15px;
    border: 3px solid black;
    border-radius: 8px;
}
article {
    border: 2px dashed;
    background-color: aquamarine;
    width: 100%;
}
.bloque {
    border: 3px darkslateblue solid;
    background-color: lightcoral;
    width: 100%;
    margin: 10px auto;
    border-radius: 8px;
    /* En dirección del reloj */
    padding: 5px 10px 15px 20px;
}
.linea {
    border: 3px solid green;
    background-color: aqua;
    width: 80%;
    height: auto;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px 5px;
}

/*------------ Como dar estilos a los enlaces ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Menu principal */
.contenedor_estilos_a_enlaces {
    width: 100%;
    background-color: gray;
    font-family: 'Signika Negative',;
    font-size: .9rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.menu_estilos_enlace {
    border: 1px solid;
    width: 100%;
    height: auto;
    margin: 0 1px;
    padding: 5px;
    background-color: black;
    display: inline-flex;
}
.menu_estilos_enlace a {
    background-color: black;
    color: white;
    padding: 0 5px;
}
.menu_estilos_enlace a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
.menu_estilos_enlace a.active {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

/* Redes sociales */
.social_estilos_enlace {
    border: 1px solid;
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
}
.social_estilos_enlace a {
    padding: 0 10px;
    color: white;
}
.social_estilos_enlace a:hover {
    color: black;
}

/* Boton Suscríbete */
.boton_estilos_enlace {
    margin: 10px 0;
    padding: 10px 0;
}
.boton_estilos_enlace a {
    box-shadow: 0px 0px 5px black;
    background-color: #f60707c5;
    border-radius: 8px;
    color: white;
    padding: 10px;
    /* display: inline-flex; */
    align-items: center;
}
.boton_estilos_enlace a i {
    padding-right: 8px;
}
.boton_estilos_enlace a:hover {
    color: black;
}

/*------------ Como insertar imagenes con CSS ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Estetico */
.contenedor_dfn_photo {
    background-image: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    width: 100%;
}
.photo {
    width: 500px;
    height: 750px;
    border: 2px solid black;

    /* Efecto de capa gradient transparente para img */
    background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) ), url("/Proyectos/3_Curso_CSS3/Clases/Clase_8/img/foto.jpg") ;
    background-repeat: no-repeat;
    padding: 10px;
    /* valor por defecto: Crece el contenedor y el contenido es estatico: box-sizing: content-box; */
    /*Cambia el tamaño del contenido para fijar el contenedor padre: box-sizing: border-box;*/
    box-sizing: border-box;
}
.photo article {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}
.text_photo {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 8px double black;
    padding: 10px;
    font: 16px 'Signika Negative', 'Segoe UI';
    font-weight: 100;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: normal;
    /* font-variant: small-caps; establece que las letras deben ser mayúsculas pequeñas.*/
    /* text-decoration: underline; decora con una línea horizontal debajo del texto.*/
    /* text-decoration: line-through; este valor hace que se dibuje una línea horizontal atravesando al texto. */
}
.text_photo span {
    border: 2px dotted;
    display: inline;
    padding: 0 5px;
    text-shadow: 0px 0px 2px red;
}

.profile {
    box-shadow: 0 0 20px blue;
    width: 150px;
    height: 150px;
    margin: 40px;

    /* Posicionamiento */
    position: relative;
    top: 0;
    left: 0;

    /* img */
    background-image: url("/Proyectos/3_Curso_CSS3/Clases/Clase_8/img/perfil\ 1.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

/*------------ Transiciones en CSS ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Estetico */
.transiciones {
    border: 1px solid;
    padding: 20px 5px;
    width: 100%;
    height: auto;
    font-family: 'Signika Negative', 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
}

.transiciones_1-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contenedor1 {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: gray;
    /* La forma corecta es declarando las propiedades y la duración en mili segundos */
    transition-property: background-color, height, width;
    /* Se puede definir el tiempo de cabio por propiedad colocando su tiempo en orden.
    background-color: 1000ms en 0ms - height: 1000ms en 2000ms - width: 1000ms en 1000ms */
    transition-duration: 1000ms, 2000ms, 2000ms;
    transition-delay: 0ms, 2000ms, 1000ms;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1:hover {
    background-color: green;
    width: 300px;
    height: 200px;
}

.contenedor2 {
    margin: 10px 0px;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: gray;
    transition-property: background-color, width;
    transition-duration: 1000ms, 2000ms;
    /* 
    ease: Transition constante.
    ease-in: Transition principio lento y final rapido.
    ease-out: Transition principio rapido y final lento.
    ease-in-out: Transition principio lento, medio rapido y final lento.
    cubic-bezier(.1, .5, .7, -0.7): Transition personalizados.
     */
    transition-timing-function: cubic-bezier(.1, .5, .7, -0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor2:hover {
    background-color: green;
    width: 100%;
}

.transiciones_text {
    border: 1px solid blue;
    border-radius: 50px;
    padding: 2px 5px;
    width: 90%;
}

 /* Todos estos valores lo ponemos en una sola linea de código */
.contenedor3 {
    border: 1px solid;
    height: 32px;
    border-radius: 16px;
    background-color: rgb(182, 182, 182);
    /* El continido se amolda a la forma del contenedor. */
    overflow: hidden;
}
.barra {
    width: 10%;
    height: 100%;
    background-color: green;
    border-right: 3px solid rgb(4, 59, 4);
    /* transition: propiedad, tiempo de demora, efecto y reley */
    transition: width 2000ms ease-in-out 1000ms;
}
.barra:hover {
    width: 100%;
}
