/*------------ Tres formas de aplicar CSS en el HTML (esta en forma cascada) ------------*/
/*------------ Creamos las hojas de estilos ------------*/



/*------------ Tipos de colores ------------*/
#name {
    background-color: lightblue;
}
#hex {
    background-color: #d36336;
}
#rgb {
    background-color: rgb(12, 127, 57);
}
#rgba {
    background-color: rgba(12, 127, 57, 0.3);
}
#hsl {
    background-color: hsl(16, 100%, 50%);
}
#hsla {
    background-color: hsla(16, 100%, 50%, 0.3);
}

/*------------ Parte de un blog ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap');

/* border del contenedor */
.border {
    margin: 10px auto;
    border: 5px dashed gray;
    padding: 10px;
    width: 95%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo {
    font-family: 'Gentium Book Basic', serif;
    letter-spacing: 1px;
    font-size: 150%;
    text-align: center;
    color: #e09f54;
    text-shadow: 0px 0px 3px black;
}
.border article {
    background-color: rgb(167, 163, 163);
    width: 100%;
    padding: 3px;
    border: none;
}
.parrafo {
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: 'Playfair Display', ;
    text-align: justify;
    font-size: 14px;
}
/* Seudo elementos */
p#inicio::first-letter {
    color: #c69c6d;
    font-size: 40px;
    float: left;
    background-color: brown;
    padding: 0px 7px 0px 7px;
    margin: 4px 10px 0px 0px;
}
/* link */
.border a {
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 800;
}
/* cambia el color al tener el mous encima */
a:hover {
    color: blue;
}
/* subrayar_palabra */
.underline {
    text-decoration: underline;
    font-weight: bold;
    display: inline;
}
/* palabra en italica */
.italic {
    font-style: italic;
    font-weight: bold;
    display: inline;
}
pre {
    position: relative;
    left: -170px;
}

/*------------ Tipos de tamaños: Unidades de medida ------------*/
.medidas .contenedor {
    /* definir tamaño de letras para lo interno al contenedor */
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixeles {
    /* 16px es el valor por defecto */
    font-size: 16px; 
    background-color: gray;
    width: 400px;
}
.porcentaje {
    /* 100% del valor contenedor 16px */
    font-size: 150%; 
    background-color: gray;
    width: 50%;
}
.em {
    /* 1em = valor del contenedor */
    font-size: 1.5em; 
    background-color: gray;
    width: 5em;
}
.rem {
    /* 1rem = valor del root (valor por defecto que son 16px) */
    font-size: 0.8rem; 
    background-color: gray;
    width: 5rem;
}

/*------------ Modelo de caja ------------*/
.link {
    border: 3px solid black;
    background-color: aquamarine;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.link:hover {
    color: blue;
}
.contenedor__img {
    border: 1px solid;
    width: 100%;
}
img {
    max-width: 80%;
    margin: 15px;
    border: 3px solid black;
    border-radius: 8px;
}
article {
    border: 2px dashed;
    background-color: aquamarine;
    width: 100%;
}
.bloque {
    border: 3px darkslateblue solid;
    background-color: lightcoral;
    width: 100%;
    margin: 10px auto;
    border-radius: 8px;
    /* En dirección del reloj */
    padding: 5px 10px 15px 20px;
}
.linea {
    border: 3px solid green;
    background-color: aqua;
    width: 80%;
    height: auto;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px 5px;
}

/*------------ Como dar estilos a los enlaces ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Menu principal */
.contenedor_estilos_a_enlaces {
    width: 100%;
    background-color: gray;
    font-family: 'Signika Negative',;
    font-size: .9rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.menu_estilos_enlace {
    border: 1px solid;
    width: 100%;
    height: auto;
    margin: 0 1px;
    padding: 5px;
    background-color: black;
    display: inline-flex;
}
.menu_estilos_enlace a {
    background-color: black;
    color: white;
    padding: 0 5px;
}
.menu_estilos_enlace a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
.menu_estilos_enlace a.active {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

/* Redes sociales */
.social_estilos_enlace {
    border: 1px solid;
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
}
.social_estilos_enlace a {
    padding: 0 10px;
    color: white;
}
.social_estilos_enlace a:hover {
    color: black;
}

/* Boton Suscríbete */
.boton_estilos_enlace {
    margin: 10px 0;
    padding: 10px 0;
}
.boton_estilos_enlace a {
    box-shadow: 0px 0px 5px black;
    background-color: #f60707c5;
    border-radius: 8px;
    color: white;
    padding: 10px;
    /* display: inline-flex; */
    align-items: center;
}
.boton_estilos_enlace a i {
    padding-right: 8px;
}
.boton_estilos_enlace a:hover {
    color: black;
}

/*------------ Como insertar imagenes con CSS ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Estetico */
.contenedor_dfn_photo {
    background-image: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    width: 100%;
}
.photo {
    width: 500px;
    height: 750px;
    border: 2px solid black;

    /* Efecto de capa gradient transparente para img */
    background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4) ), url("/Proyectos/3_Curso_CSS3/Clases/Clase_8/img/foto.jpg") ;
    background-repeat: no-repeat;
    padding: 10px;
    /* valor por defecto: Crece el contenedor y el contenido es estatico: box-sizing: content-box; */
    /*Cambia el tamaño del contenido para fijar el contenedor padre: box-sizing: border-box;*/
    box-sizing: border-box;
}
.photo article {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}
.text_photo {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 8px double black;
    padding: 10px;
    font: 16px 'Signika Negative', 'Segoe UI';
    font-weight: 100;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: normal;
    /* font-variant: small-caps; establece que las letras deben ser mayúsculas pequeñas.*/
    /* text-decoration: underline; decora con una línea horizontal debajo del texto.*/
    /* text-decoration: line-through; este valor hace que se dibuje una línea horizontal atravesando al texto. */
}
.text_photo span {
    border: 2px dotted;
    display: inline;
    padding: 0 5px;
    text-shadow: 0px 0px 2px red;
}

.profile {
    box-shadow: 0 0 20px blue;
    width: 150px;
    height: 150px;
    margin: 40px;

    /* Posicionamiento */
    position: relative;
    top: 0;
    left: 0;

    /* img */
    background-image: url("/Proyectos/3_Curso_CSS3/Clases/Clase_8/img/perfil\ 1.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

/*------------ Transiciones en CSS ------------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */

/* Estetico */
.transiciones {
    border: 1px solid;
    padding: 20px 5px;
    width: 100%;
    height: auto;
    font-family: 'Signika Negative', 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
}

.transiciones_1-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contenedor1 {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: gray;
    /* La forma corecta es declarando las propiedades y la duración en mili segundos */
    transition-property: background-color, height, width;
    /* Se puede definir el tiempo de caMbio por propiedad colocando su tiempo en orden.
    background-color: 1000ms en 0ms - height: 1000ms en 2000ms - width: 1000ms en 1000ms */
    transition-duration: 1000ms, 2000ms, 2000ms;
    transition-delay: 0ms, 2000ms, 1000ms;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1:hover {
    background-color: green;
    width: 400px;
    height: 150px;
}

.contenedor2 {
    margin: 10px 0px;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: gray;
    transition-property: background-color, width;
    transition-duration: 1000ms, 2000ms;
    /* 
    ease: Transition constante.
    ease-in: Transition principio lento y final rapido.
    ease-out: Transition principio rapido y final lento.
    ease-in-out: Transition principio lento, medio rapido y final lento.
    cubic-bezier(.1, .5, .7, -0.7): Transition personalizados.
     */
    transition-timing-function: cubic-bezier(.1, .5, .7, -0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor2:hover {
    background-color: green;
    width: 100%;
}

.transiciones_text {
    border: 1px solid blue;
    border-radius: 50px;
    padding: 2px 5px;
    width: 90%;
}

 /* Todos estos valores lo ponemos en una sola linea de código */
.contenedor3 {
    border: 1px solid;
    height: 32px;
    border-radius: 16px;
    background-color: rgb(182, 182, 182);
    /* El continido se amolda a la forma del contenedor. */
    overflow: hidden;
}
.barra {
    width: 25%;
    height: 100%;
    background-color: green;
    border-right: 3px solid rgb(4, 59, 4);
    /* transition: propiedad, tiempo de demora, efecto y reley */
    transition: width 2000ms ease-in-out 1000ms;
}
.barra:hover {
    width: 100%;
}

/*------------ Transform en CSS ------------*/

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */
:root {
    --blue: rgb(47, 47, 185);
    --blue_sure: rgb(70, 70, 183);
    --white: rgb(255, 255, 255);
    --gray: rgb(195, 191, 191);
    --gray_strong: rgb(220, 216, 216);
    --green: #b8f2e6af;
}

/* -- Estilos de esplicación -- */
.Transform_contenedor_esplicaciones {
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
    margin: 5px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #e09f54;
    overflow: hidden;
    font-family: 'Signika Negative', 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.Transform_title {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--blue);
    color: var(--white);

}
.Transform_text {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    background-color: var(--gray);
    line-height: 25px;
}
.Transform_contenedor_general {
    height: auto;
    /* width: 100%; */
    padding: 10px 6px;
    list-style: none;
    background-color: var(--gray_strong);

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.Transform_contenedor_list {
    /* border: 1px solid; */
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    overflow: hidden;
    min-width: 48%;
    flex-grow: 1;
}
.Transform_title_list {
    height: auto;
    border-radius: 5px 5px 0 0;
    background-color: var(--blue_sure);
    color: var(--white);
}

.Transform_div_lists {
    border: 1px solid black;
    margin: 0px;
    padding: 10px;
    background-color: var(--white);
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Transform_list {
    /* border: 1px solid black; */
    box-shadow: 1px 1px 3px black;
    background-color: var(--gray_strong);
    min-width: 30%;
    height: auto;
    list-style: none;
    flex-grow: 1;
}
.Transform_list summary {
    height: auto;
    border-radius: 0px;
    background-color: var(--gray);
    color: black;
    display: flex;
    justify-content: center;
}

/* -- Estilos de Muestra -- */
.muestra {
    border: 1px solid;
    background-color: white;
    width: 100%;
    height: auto;
    /* margin: 2px; */
    padding: 20px 0;
    perspective: 800px;

    /* posicionamiento del .backbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backbox {
    /* tamaño y color */
    /* border: 1px solid; */
    width: 70%;
    height: 200px;
    background: #faf3dd;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    
    /* capa */
    z-index: -1;
}
.box {
    /* tamaño y color */
    width: 100%;
    height: 200px;
    background: var(--green);
    color: rgb(5, 3, 5);

    /* estilo y posicion del texto */
    padding-top: 70px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    transition: transform 1000ms;
}
/* --- Aplicamos transform --- */
/* -- 2D -- */
.muestra .translate2D:hover {
    /* se movera hacia la derecha */
    transform: translate(60px, 12px);
}
.muestra .rotate2D:hover {
    /* podemos rotar y los grados en deg */
    transform: rotate(-45deg);
}
.muestra .scale2D:hover {
    /* cambiar el tamaño */
    transform: scale(1.4, .8);
}
.muestra .skew2D:hover {
    /* efecto romboide */
    transform: skew(-35deg);
}
.muestra .matrix2D:hover {
    /* todo en una linea de código 
    orden de posición: matrix( scaleX(), skewY(), skewX(), scaleY(), traslateX(), traslateY() )  */
    transform: matrix(1, .25, .25, .8, 25, -10);
}
/* -- 3D -- */
.muestra .rotateX3D:hover {
    transform: rotateX(180deg);
}
.muestra .rotateY3D:hover {
    transform: rotateY(180deg);
}
.muestra .rotateZ3D:hover {
    /* El origen es el centro de la objeto. Esto lo hacemos con la propiedad transform-origin dentro del padre*/
    transform: rotateZ(180deg);
}
.muestra .profundidad3D:hover {
    /* efecto de profundidad */
    transform: rotateY(180deg);
}

/* ---------------------------------------- Anomaciones en CSS  ----------------------------------------*/
/* --------------------------- Estilos de esplicación --------------------------- */
.Animaciones_contenedor_esplicaciones {
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
    margin: 5px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #e09f54;
    overflow: hidden;
    font-family: 'Signika Negative', 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.Animaciones_title {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--blue);
    color: var(--white);
}
.Animaciones_text {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    background-color: var(--gray);
    line-height: 25px;
    height: auto;
}

.Animaciones_contenedor_general {
    /* border: 1px solid; */
    height: auto;
    /* width: 100%; */
    padding: 10px 6px;
    list-style: none;
    background-color: var(--gray_strong);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.Animaciones_contenedor_list {
    /* border: 1px solid; */
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    overflow: hidden;
    min-width: 48%;
    height: 100%;
    flex-grow: 1;
}
.Animaciones_title_list {
    /* border: 1px solid; */
    height: auto;
    border-radius: 5px 5px 0 0;
    background-color: var(--blue_sure);
    color: var(--white);
}
.Animaciones_dfn_list {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 5px;
    background-color: var(--gray_strong);
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/*---------- Tabla de Atributos ---------- */
.fila_atributo {
    background-color: var(--green);
}
.fila_valor {
    background-color: var(--white);
}
.animation_tabla {
    font-size: 10px;
}
.animation_tabla th {
    padding: 2px;
    width: auto;
    font-size: 10px;
    font-weight: bold;
}

/*---------- Texto final de tabla ---------- */
.Animaciones_article {
    border: none;
    background-color: var(--gray_strong);
    margin: 0px;
    padding: 0px;
    width: auto;
    font-size: 14px;
    
}
.Animaciones_article h3 {
    /* border: 1px solid; */
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Animaciones_article p {
    /* border: 1px solid; */
    padding: 5px;
    width: 100%;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}

/* --------------------------- Estilos de Muestra --------------------------- */
.contenedor_barra {
    border: 1px solid;
    background-color: var(--gray_strong);
    width: 90%;
    height: 20px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.box1 {
    width: 100%;
    height: 100%;
    /* animation-name: cambiocolor; */
    /* animation-duration: 4000ms; */
    /* animation-delay: 2000ms; */

    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 1; */

    /* animation-direction: alternate; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate-reverse; */

    /* animation-timing-function: ease; */
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-out; */
    /* animation-timing-function: ease-in-out; */
    /* animation-timing-function: cubic-bezier(.2, .6, .3, 1); */

    /* se queda en el ultimo valor establecido (en este caso color) */
    animation-fill-mode: forwards;

    /* Todos los valores en una sola linea */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: cambiocolor 4000ms cubic-bezier(.2, .6, .3, 1) 0ms 3 alternate-reverse forwards;
}
@keyframes cambiocolor {
    0%{
        background-color: red;
        width: 30%;
    }
    75%{
        background-color: rgb(229, 255, 0);
        width: 15%;
    }
    50%{
        background-color: rgb(0, 255, 17);
        width: 100%;
    }
    100%{
        background-color: blueviolet;
        width: 87%;
    }
}

.contenedor_name {
    border: 1px solid;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 4px;
    background-color: var(--gray_strong);
}
.nombres {
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: center;
    padding: 7px 0 0 0;
    animation: name 2500ms ease 0ms infinite alternate-reverse forwards;
}
@keyframes name {
    0% {
        color: rgb(255, 0, 0);
    }
    50% {
        color: rgb(193, 183, 3);
    }
    75% {
        color: rgb(0, 164, 11);
    }
    100% {
        color: rgb(2, 2, 143);
    }
}