@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Menu principal */
body {
    background-color: gray;
    font-family: 'Signika Negative',;
    font-size: 2rem;
}

.menu {
    background-color: black;
    display: inline-flex;
}

.menu a {
    background-color: black;
    color: white;
    padding: 0 10px;
}

.menu a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.menu a.active {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

/* Redes sociales */
.social {
    margin: 30px 0;
}

.social a {
    padding: 0 10px;
    color: white;
}

.social a:hover {
    color: black;
}

/* Boton Suscríbete */
.boton a {
    background-color: #f60707c5;
    color: white;
    display: inline-flex;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
}

.boton a i {
    padding: 4px 8px 4px 4px;
}

.boton a:hover {
    color: black;
}
