* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(172, 172, 245);
    transition: box-shadow ease 300ms;
}

.iframe:hover {
    box-shadow: 3px 3px 10px black;
}

.iframe {
    margin: 20px;
}