html {
    scroll-behavior: smooth;
}

/*---------------------------------- footer ----------------------------------*/
footer {
    background: var(--color-primary-sure);
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- Boton de subida ----*/
.flecha{
    /* border: 1px solid red; */
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.flecha:hover {
    transform: scale(1.2);
}
.simbolo {
    width: 100%;
    height: 100%;
}

.texto_footer {
    padding: 20px 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: var(--color-text-inverse);
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}