@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Playfair+Display:ital,wght@1,500&family=Signika+Negative&display=swap');/* Formateo valores predeterminados */
:root {
    --blue: rgb(47, 47, 185);
    --blue_sure: rgb(70, 70, 183);
    --white: rgb(255, 255, 255);
    --gray: rgb(195, 191, 191);
    --gray_strong: rgb(220, 216, 216);
    --green: #b8f2e6af;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------- Estilos de esplicación --------------------------- */
body {
    font-family: 'Signika Negative', 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
    height: 1000px;
}
.contenedor_esplicaciones {
    border: 1px solid black;
    margin: 10px;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
}
.title {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--blue);
    color: var(--white);
}
.contenedor_esplicaciones .text {
    padding: 10px 0px;
    text-align: center;
    background-color: var(--gray);
    line-height: 30px;
}
.contenedor_general {
    height: auto;
    width: 100%;
    padding: 10px;
    list-style: none;
    background-color: var(--gray_strong);
}
.contenedor_list {
    /* border: 1px solid; */
    box-shadow: 0px 0px 3px black;
    margin-bottom: 5px;
}
.title_list {
    padding: 2px 0px 2px 10px;
    box-shadow: 0px 0px 2px black;
    background-color: var(--blue_sure);
    color: var(--white);
}
.ul_list {
    padding: 10px;
    background-color: var(--gray);
}
.list {
    /* margin: top right bottom left */
    width: 90%;
    margin: 0px auto 5px auto;
    padding: 2px 0px 2px 10px;
    list-style: none;
    box-shadow: 0px 0px 2px black;
    background-color: var(--gray_strong);
}
/* --------------------------- Estilos de Muestra --------------------------- */
.muestra {
    perspective: 800px;
    height: 300px;
}
.backbox {
    /* tamaño y color */
    width: 200px;
    height: 200px;
    background: #faf3dd;
    box-shadow: 5px 5px 5px black;
    /* posicionamiento */
    position: absolute;
    top: 20%;
    left: 10%;
    /* estilo y capa */
    border-radius: 5px;
    z-index: -1;
}
.box {
    /* tamaño y color */
    width: 200px;
    height: 200px;
    background: var(--green);
    color: rgb(5, 3, 5);
    /* posicionamiento */
    position: absolute;
    top: 20%;
    left: 10%;
    /* estilo y posicion del texto */
    padding-top: 70px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    transition: transform 1000ms;
    /* transform-origin: bottom right; */
    /* transform-origin: 20px 20px; */
}
/* --------------------------- Aplicamos transform --------------------------- */
/* ----------------- 2D ----------------- */
.muestra .translate2D:hover {
    /* se movera hacia la derecha */
    transform: translate(100px, 20px);
}
.muestra .rotate2D:hover {
    /* podemos rotar y los grados en deg */
    transform: rotate(-45deg);
}
.muestra .scale2D:hover {
    /* cambiar el tamaño */
    transform: scale(1.5, .8);
}
.muestra .skew2D:hover {
    /* efecto romboide */
    transform: skew(-35deg);
}
.muestra .matrix2D:hover {
    /* todo en una linea de código 
    orden de posición: matrix( scaleX(), skewY(), skewX(), scaleY(), traslateX(), traslateY() )  */
    transform: matrix(1.5, .25, .25, .8, 100, 10);
}
/* ----------------- 3D ----------------- */
.muestra .rotateX3D:hover {
    transform: rotateX(180deg);
}
.muestra .rotateY3D:hover {
    transform: rotateY(180deg);
}
.muestra .rotateZ3D:hover {
    /* El origen es el centro de la objeto. Esto lo hacemos con la propiedad transform-origin dentro del padre*/
    transform: rotateZ(180deg);
}
.muestra .profundidad3D:hover {
    /* efecto de profundidad */
    transform: rotateY(180deg);
}